@charset "utf-8";
/* CSS Document */
.alignright {
    float: right;
    margin-left: 5px;
	visibility: hidden;
}

.alignleft {
    float: left;
    margin-right: 5px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}




p {
	line-height: 1.4em;
	margin: 0 0;
}

.heading {
	font: normal 16px 'Lato', sans-serif;
	text-transform: uppercase;
}

.heading {
	font-weight: bold;
	letter-spacing: 1px;
	background-color: black;
	color: white;
	padding: 2px 5px 2px 5px;
}
h5 {
	font: normal 13px 'Lato', sans-serif;
	line-height: 1.5em;
	margin: 5px 0;
}