<link rel="stylesheet"href="PRD.css"><p id = "small-aether-elemental" class = "stat-block-title">Small Aether Elemental <span class = "stat-block-cr">CR 1</span></p>
	<p class = "stat-block-xp">XP 400</p>
	<p class = "stat-block-1">N Small outsider (aether, elemental, extraplanar)</p>
	<p class = "stat-block-1"><strong>Init</strong> +6; <strong>Senses</strong> blindsense 60 ft., darkvision 60 ft.; Perception +5</p>
	<p class = "stat-block-breaker">Defense</p>
	<p class = "stat-block-1"><strong>AC</strong> 14, touch 14, flat-footed 12 (+1 deflection, +2 Dex, +1 size)</p>
	<p class = "stat-block-1"><strong>hp</strong> 13 (2d10+2)</p>
	<p class = "stat-block-1"><strong>Fort</strong> +4, <strong>Ref</strong> +5, <strong>Will</strong> +0</p>
	<p class = "stat-block-1"><strong>Defensive Abilities</strong> telekinetic deflection; <strong>Immune</strong> elemental traits, force</p>
	<p class = "stat-block-breaker">Offense</p>
	<p class = "stat-block-1"><strong>Speed</strong> fly 60 ft. (good)</p>
	<p class = "stat-block-1"><strong>Melee</strong> slam +4 (1d4+1)</p>
	<p class = "stat-block-1"><strong>Ranged</strong> telekinetic throw +5 (1d8+2)</p>
	<p class = "stat-block-1"><strong>Special Attacks</strong> telekinetic maneuver, telekinetic throw (DC 12)</p>
	<p class = "stat-block-breaker">Statistics</p>
	<p class = "stat-block-1"><strong>Str</strong> 12, <strong>Dex</strong> 15, <strong>Con</strong> 12, <strong>Int</strong> 4, <strong>Wis</strong> 11, <strong>Cha</strong> 11</p>
	<p class = "stat-block-1"><strong>Base Atk</strong> +2; <strong>CMB</strong> +2; <strong>CMD</strong> 15</p>
	<p class = "stat-block-1"><strong>Feats</strong> <a href = "http://legacy.aonprd.com/coreRulebook/feats.html#improved-initiative">Improved Initiative</a>, <a href = "http://legacy.aonprd.com/coreRulebook/feats.html#point-blank-shot">Point-Blank Shot</a></p>
	<p class = "stat-block-1"><strong>Skills</strong> Acrobatics +6, Fly +12, Perception +5, Stealth +11</p>
	<p class = "stat-block-1"><strong>SQ</strong> telekinetic invisibility</p>
    <p class = "stat-block-1"><strong>Telekinetic Invisibility (Ex)</strong> An aether elemental's body bends light and dampens sound waves. This works as the kineticist utility wild talent telekinetic invisibility , except that it is constant and doesn't end when the elemental attacks. As this ability is inherent, it is not subject to effects such as <a href = "http://legacy.aonprd.com/coreRulebook/spells/invisibilityPurge.html#invisibility-purge"><em>invisibility purge</em></a>.</p>
<p class = "stat-block-1"><strong>Telekinetic Throw (Ex)</strong> An aether elemental can fling a creature or object (with a maximum range of 480 feet). A creature receives a Fortitude save to avoid being thrown (the save DC is Constitution-based). The telekinetic throw deals the listed damage to both the thrown creature or object and the target. The aether elemental can throw a creature or object that weighs at most 50 pounds per Hit Die the elemental possesses.</p>
<p class = "stat-block-1"><strong>Telekinetic Deflection (Su)</strong> An aether elemental gains a deflection bonus to its AC equal to its Constitution modifier.</p>
<p class = "stat-block-1"><strong>Telekinetic Maneuver (Su)</strong> An aether elemental can attempt a ranged combat maneuver check, as per <em>telekinesis</em>, with a CMB equal to its Hit Dice + its Dexterity modifier.</p>